.content {
}
  .image {
    height: 200px;
    width: 950px;
    margin: 10px 20px;
    opacity: 0.85;
    border-radius: 5px;
  }
  .ava_descr {
    display: grid;
    grid-template-areas: 
    "a d"
  }
  .avatar {
    grid-area: a;
    width: 150px;
    margin: 20px;
    border-radius: 75px;
    border: 2px solid #333333;
    
  }
  .description {
    grid-area: d;
    margin: 25px 10px;
    color: #B1CCCC;
  }