
.content {
    grid-area: c;
    background-color: #FFFACD;
  }
  .image {
    height: 200px;
    width: 950px;
    margin: 10px 20px;
    
  }
  .ava_descr {
    display: grid;
    grid-template-areas: 
    "a d"
  }
  .avatar {
    grid-area: a;
    width: 150px;
    margin: 20px;
    
  }
  .description {
    grid-area: d;
    margin: 25px 10px;
  }