.you {
    
    margin: 5px;
    max-width: 80px;
    background-color: rgb(49, 153, 110);
    margin-left: 35px;
    border-radius: 7px;
}
.my {
    margin: 5px;
    max-width: 80px;
    background-color: rgb(164, 102, 170);
    margin-left: 560px;
    border-radius: 7px;
}
