.you {
    color: #393939;
    margin: 5px;
    max-width: 80px;
    background-color: #EEEEEE;
    border-radius: 8px;
}
.my {
    color: #393939;
    margin: 5px;
    max-width: 80px;
    background-color:#EEEEEE;
    border-radius: 8px;
}
