.you {
    
    margin: 5px;
    max-width: 80px;
    background-color: rgb(49, 153, 110);
    border-radius: 8px;
}
.my {
    margin: 5px;
    max-width: 80px;
    background-color: rgb(164, 102, 170);
    border-radius: 8px;
}
