
.nav {
    grid-area: n;
    background-color: #DEB887;
    height: 500px;
  }
  .item {
    margin: 30px 30px;
    
  }
  .navlink {
    padding: 10px 30px;
    border: 2px solid #333333;
    border-radius: 10px;
    text-align: center;
  }
  .navlink:hover{
    color: #ffffff;
    background-color: #800000;
    cursor: pointer;
  }
  .active {
    color: #ffffff;
    background-color: #800000;
  }
  .friends{
    margin: 50px auto;
  }
.friends_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
  }
  .title {
    text-align: center;
  }
