.item {
  max-width: 750px;
  margin: 5px 0;
  border: 1px solid #333333;
  display: grid;
  grid-template-areas: "a t";
  grid-template-columns: 1fr 9fr;
   grid-gap: 20px;
}
.item_ava {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 2px solid #333333;
}
.item_text {
  margin: auto 0;
}
.like {
  font-size: 12px;
}