.app_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;

  grid-template-areas: 
    "h h"
    "n c";

  grid-template-rows: 100px 1fr;
   grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
}

.content {
  grid-area: c;
  background-color: #FFFACD;
}