.content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 500px;
    color: #ffffff;
}
.users {
    border: 1px solid #333333;
    
}
.messages {
    border: 1px solid #333333;
    display: grid;
    grid-template-rows: 8fr 2fr;
}
.dialogs {
    display: grid;
    grid-template-columns: 5fr 5fr;
}
.text_input {
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.textarea {
    color: #ffffff;
    height: 95px;
    background-color: #393939;
     border-radius: 10px;
     border: none;
     resize: none;
     outline:none;
}
.btn_send {
    font-size: 20px;
    font-weight: 900;
    background-color: #088DCD;
    border: none;
    border-radius: 5px;
     color: #ffffff;
     font-weight: 600;
     outline:none;
}
